# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3 # FIXME: at least until I switch over to pg >_>
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# ignore various secrets & private things
/market_research
/.env

# we don't need no public test coverage
/coverage
