# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
*.p12

# ignore various secrets & private things
/market_research
/.env
/secrets.md

# we don't need no public test coverage
/coverage
