<% content_for :stylin do %>"welcome"<% end %>
<h1><%= t("site.name") %></h1>

<h3>
  <%= t("site.subtitle") %>
  <!-- The voluntearnado is coming.<br />
  Bigger and better than sharknado!</br />
  Now with 80% more tearing power. -->
</h3>
