<h1><%= t("headings.editing", model_name: t("resources.broadcast")) %></h1>

<%= render 'form' %>

<%= link_to t("links.resources.show"), @broadcast %> |
<%= link_to t("links.back"), broadcasts_path %>
