<h1><%= t("headings.editing", model_name: t("resources.category")) %></h1>

<%= render 'form' %>

<%= link_to t("links.resources.show"), @category %> |
<%= link_to t("links.back"), categories_path %>
